* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* nav bar  */
.nav-section {
  background-color: rgba(255, 150, 102, 0.959);
}
.nav-text a:hover {
  text-decoration: underline;
  color: white;
}
.dropdown-section a:hover {
  color: rgb(255, 105, 36);
}
/* search input section  */
#search-input {
  border: 1px solid rgb(255, 135, 79);
}
#search-input:focus {
  box-shadow: 1px 1px 5px rgb(255, 105, 36);
}
.search-button {
  background-color: rgb(255, 135, 79);
  color: white;
  border: 1px solid rgb(255, 135, 79);
}
.search-button:hover {
  background-color: white;
  color: rgb(255, 120, 57);
  border: 1px solid rgb(255, 135, 79);
}
/* spinner section  */
#spinner-section {
  color: rgb(255, 120, 57);
  display: none;
}

/* empty fill  */
#fill-error {
  font-size: medium;
  display: none;
}
/* result found section  */
#result-found {
  display: none;
}
/* not found section  */
#not-found {
  display: none;
}

/* search result section */
.phone-title {
  color: rgb(255, 105, 36);
}
#show-more-display {
  display: none;
}
#show-more-button {
  display: none;
}

/* details button  */
.details-button {
  background-color: rgb(255, 135, 79);
  color: white;
  border: 1px solid rgb(255, 135, 79);
}
.details-button:hover {
  background-color: white;
  color: rgb(255, 120, 57);
  border: 1px solid rgb(255, 135, 79);
}

/* phone details section  */
.details-photo {
  margin: 20px auto;
  align-items: center;
}
.details-photo h1 {
  color: #0d6efd;
}
#phone-details h4 {
  text-align: end;
  font-size: 18px;
  color: #0d6efd;
}

/* footer  */
.footer-section {
  position: relative;
  min-height: 70vh;
}

.footer-text {
  position: absolute;
  bottom: 0;
  background-color: rgb(15, 15, 15);
  width: 100%;
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 10px;
}
