* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-text a:hover {
  text-decoration: underline;
  color: white;
}
/* search input  */
#search-input {
  border: 1px solid #0d6efd;
}
#search-input:focus {
  box-shadow: 1px 1px 5px #0d6efd;
}

/* spinner  */
#spinner-section {
  color: #0d6efd;
  display: none;
}

/* empty fill  */
#fill-error {
  font-size: medium;
  display: none;
}
/* result found section  */
#result-found {
  display: none;
}
/* not found section  */
#not-found {
  display: none;
}

/* phone details  */

.details-photo h1 {
  color: #0d6efd;
}
#phone-details h4 {
  text-align: end;
  font-size: 18px;
  color: #0d6efd;
}

/* footer  */
.footer-section {
  position: relative;
  min-height: 80vh;
}

.footer-text {
  position: absolute;
  bottom: 0;
  background-color: rgb(15, 15, 15);
  width: 100%;
  color: rgb(160, 160, 160);
  text-align: center;
  padding: 10px;
}
